<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Planito.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mifki.Planito</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.21</string>
	<key>CFBundleSignature</key>
	<string>PltO</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>worldwind</string>
				<string>ww2d</string>
				<string>planito</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>23</string>
	<key>DataSource</key>
	<string>http://ds.planitoapp.com/_datasource-{LANG}.xml.gz</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Planito.help</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.travel</string>
	<key>CFBundleHelpBookName</key>
	<string>com.mifki.Planito.help</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011-2014 Vitaliy Pronkin &lt;pronvit@mifki.com&gt; All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
